*.iml
.gradle
.idea/*
!.idea/detekt.xml
.DS_Store
build
captures
.externalNativeBuild
.cxx
local.properties
xcuserdata
.kotlin
/sample/desktop/*.db
/module/network/ktor3/schemas/*
/sample/shared/schemas/*
/.gradle-home/*
